<a href="https://colab.research.google.com/github/sonalipednekar30/NLP/blob/master/Amazon_Review_Database_J039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import libraries
import pandas as pd
import gzip

#Reading the file
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
#Function determining count of each word in one sentence

def word_count(str):
    counts = dict() 
    words = str.split()  
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts

In [0]:
#applying the function to all the rows of reviewText column
reviewText_wordcount = data.reviewText.apply(word_count)

#inserting the counts column in the data
data.insert(5, 'reviewText_wordcount', reviewText_wordcount)

#applying the function to all the rows of summary column
summary_wordcount = data.summary.apply(word_count)

#inserting the counts column in the data
data.insert(8, 'summary_wordcount', summary_wordcount)

In [7]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 11 columns]