<a href="https://colab.research.google.com/github/sonalipednekar30/NLP/blob/master/Vowel_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import gzip
import re

df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
vowels=['a','e','i','o','u']

In [0]:
def letter_count(text):
  text=text.lower()
  words=text.split()
  count={'vowels':0,'consonants':0,'totcount':0}
  for i in text:    
    if i in vowels:       
      count['vowels']+=1
    else:
      if i.isalpha():
        count['consonants']+=1
    count['totcount']=len(words)
  return count

In [0]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
def punc(str):
  no_punct = ""
  for char in str:
    if char not in punctuations:
      no_punct = no_punct + char
  return no_punct

In [5]:
punc(df['summary'][0])
letter_count(df['summary'][0])

{'consonants': 20, 'totcount': 7, 'vowels': 12}

In [0]:
df['summary'][0].lower()

In [0]:
df['reviewText_vowel_consonant_count']=df['reviewText'].apply(punc)
df['summary_vowel_consonant_count']=df['summary'].apply(punc)
df['reviewText_vowel_consonant_count']=df['reviewText'].apply(letter_count)
df['summary_vowel_consonant_count']=df['summary'].apply(letter_count)

In [7]:
df.head(10)

       reviewerID  ...                     summary_vowel_consonant_count
0  A32T2H8150OJLU  ...   {'vowels': 12, 'consonants': 20, 'totcount': 7}
1  A3MAFS04ZABRGO  ...  {'vowels': 14, 'consonants': 31, 'totcount': 13}
2  A1F1A0QQP2XVH5  ...   {'vowels': 15, 'consonants': 25, 'totcount': 8}
3   A49R5DBXXQDE5  ...   {'vowels': 14, 'consonants': 22, 'totcount': 9}
4  A2XRMQA6PJ5ZJ8  ...     {'vowels': 3, 'consonants': 9, 'totcount': 3}
5  A2JFOHC9W629IE  ...   {'vowels': 12, 'consonants': 22, 'totcount': 8}
6  A38NELQT98S4H8  ...   {'vowels': 10, 'consonants': 13, 'totcount': 5}
7   AA8M6331NI1EN  ...   {'vowels': 17, 'consonants': 29, 'totcount': 9}
8  A25C2M3QF9G7OQ  ...   {'vowels': 11, 'consonants': 18, 'totcount': 6}
9  A1RTVWTWZSIC94  ...     {'vowels': 3, 'consonants': 3, 'totcount': 2}

[10 rows x 11 columns]

In [0]:
def word_finder(word):
  word=re.sub('[^a-zA-Z]',' ',word)
  list_b=re.findall(r'\b[bB]\w+',word)
  list_g=re.findall(r'\w+[Gg]\b',word)
  return (list(set().union(list_b,list_g)))

In [0]:
def BG(word):
  word=re.sub('[^a-zA-Z]',' ',word)
  words=re.findall(r'\b[bB]\w+[Gg]\b',word)
  return words

In [10]:
df['reviewText_b_or_g']=df['reviewText'].apply(word_finder)
df['summary_b_or_g']=df['summary'].apply(word_finder)
df['reviewText_b_and_g']=df['reviewText'].apply(BG)
df['summary_b_and_g']=df['summary'].apply(BG)
df.head()

       reviewerID        asin  ...              reviewText_b_and_g summary_b_and_g
0  A32T2H8150OJLU  B00000JBLH  ...                              []              []
1  A3MAFS04ZABRGO  B00000JBLH  ...  [burying, being, BENCHMARKING]              []
2  A1F1A0QQP2XVH5  B00000JBLH  ...                              []              []
3   A49R5DBXXQDE5  B00000JBLH  ...                              []              []
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...                              []              []

[5 rows x 15 columns]